@import 'styles/common.scss';

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> li {
		@include desktop {
			flex: 0 0 25%;
		}

		@include mobile {
			flex: 0 0 50%;
		}
	}
}
