.imageBanner {
	> img {
		width: 100%;
		height: auto;
	}

	> figcaption {
		font-family: 'SourceSansPro Light';
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.35rem;
		margin-top: 0.3125rem;
	}
}

.container {
	padding: 0 2rem;

	> * {
		margin-bottom: 2rem;
	}
}

.imageLink {
	cursor: pointer;
}

.rowContainer {
	display: flex;
	flex-direction: row;
	padding: 0 5rem;
	margin-top: 1.8125rem;

	> * {
		padding: 0 1.15rem;
	}

	> :first-child {
		padding-left: 0rem;
	}

	> :last-child {
		padding-right: 0rem;
	}

	margin-bottom: 1rem;
}

.custom {
	display: flex;
	flex-direction: column;

	figure {
		cursor: pointer;
		display: flex;
		flex-direction: column;

		> img {
			max-width: 100%;
		}

		> figcaption {
			display: flex;
			flex-direction: column;
		}
	}
}

.lastRowContainer {
	display: flex;
	flex-direction: row;
	padding: 0 5rem;
	margin-top: 1.8125rem;
	align-items: stretch;

	> * {
		//padding: 0 1.15rem;
	}

	> :first-child {
		padding-left: 0rem;
	}

	> :last-child {
		padding-right: 0rem;
	}

	margin-bottom: 1rem;

	> li {
		&:first-of-type {
			figcaption {
				font-family: 'SourceSansPro Light';
				margin: 0 auto;
				text-align: center;
				text-transform: uppercase;
				font-size: 1.35rem;
				margin-top: 0.3125rem;
			}
		}

		flex: 0 0 calc((100% / 3) - (4rem / 3));

		&:nth-of-type(2) {
			margin: 0 2rem;
		}
	}
}
